body {
  background: rgb(174,224,238);
  background: radial-gradient(circle, rgba(174,224,238,1) 0%, rgba(132,177,207,0.9867297260701156) 100%);
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
}

.fish__image {
  max-width: 100%;
}

.fishList {
  display: flex;
  flex-shrink: 20;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.fishLists {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 68%;
}

.fish {
  flex-basis: 28%;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  max-height: 400px;
}

.highlightFish {
  background-color: whitesmoke;
  color: black;
}

aside {
  display: flex;
  flex-basis: 100%;
}


.tip {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
}

.tipList {
  display: flex;
  flex-basis: 30%;
}


.highlightTips {
  border: 2px dotted black;
  background-color: whitesmoke;
}